/*==================================
 Fonts
===================================*/

$junction:  'Junction', Helvetica, Arial, sans-serif;
$delicious: 'Delicious', Helvetica, Arial, sans-serif;

/*==================================
 Colors
===================================*/

$white:      #fff;
$black:      #444;
$gray:       #bbb;
$blue:       #59c;
$light-blue: #7cc;
$dark-blue:  #022539;

/*==================================
 Breakpoints
===================================*/

$mq-small:  480px;
$mq-medium: 768px;
$mq-large:  1200px;

/*==================================
 Layout
===================================*/

$sidebar-width: 24%;
