/* Mobile-first breakpoints */

$breakpoint-small:   480px;
$breakpoint-medium:  768px;
$breakpoint-large:   1200px;

/* Colors */

$white:         #fff;
$light-gray:	#efefef;
$dark-purple:   #3a3548;
$light-purple:  #887d85;
$orange:        #d99258;