* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	color: #333;
	background: #f5f5f5;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	border: 0;
	cursor: pointer;
	-webkit-transition: all .4s;
	transition: all .4s;
}
a:hover {
	opacity: .8;
}
input, textarea, select {
	-webkit-transition: all .4s;
	transition: all .4s;
}
input[type=email] {
	width: 100%;
	max-width: 250px;
	padding: 11px;
	border: 0;
	border-radius: 8px;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 20px;
}
input[type=email]:focus {
	outline: none;
	box-shadow: inset 0 0 7px 0 #999;
	opacity: 1;
}
input[type=submit] {
	margin-left: 4px;
	padding: 13px;
	background: #5ea85a;
	border: 0;
	border-radius: 8px;
	color: #fff;
	font-family: 'FontAwesome';
	font-size: 20px;
}
input[type=submit]:hover {
	cursor: pointer;
	box-shadow: 0 0 5px 0 #222;
}
textarea {
	float: left;
	margin-left: 15px;
	padding: 15px;
	width: 100%;
	max-width: 591px;
	min-height: 30px;
	color: #999;
	border: 2px solid #fff;
	border-radius: 8px;
	box-shadow: 0 0 7px 0 #e5e5e5;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 16px;
}
textarea:focus {
	outline: none;
	border: 2px solid #ACE3AC;
}
select {
	margin: 0 4px 10px;
	padding: 5px 8px;
	border: 1px solid #aaa;
	border-radius: 8px;
	background: #fff;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
select:focus {
	outline: none;
	border-color: #333;
}
label {
	font-size: 14px;
}
input[type=checkbox] {
	position: relative;
	top: 1px;
	margin: 0 4px 0 8px;
}
.container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}
.container img {
	max-width: 100%;
}
.container:before, .container:after {
	content: "";
	display: table;
}
.container:after {
	clear: both;
}
.col {
	float: left;
	width: 100%;
	margin-right: 15px;
}
.col.single {
	max-width: 350px;
	margin-right: 15px;
}
.col.double {
	max-width: 715px;
	margin-right: 15px;
}
.col.feature {
	max-width: 300px;
	margin-right: 90px;
}
.end {
	margin-right: 0 !important;
}
.pull-right {
	float: right !important;
}
.more {
	color: #999;
	font-size: 15px;
	font-weight: normal;
	line-height: 45px;
}
.more .fa {
	font-size: 12px;
}
header {
	z-index: 2;
	position: relative;
	margin-bottom: 70px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/header.jpg);
	color: #fff;
}
header:before {
	z-index: 1;
	content: "";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: -webkit-linear-gradient(rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
	background: linear-gradient(rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
}
header .container {
	z-index: 3;
	position: relative;
	min-height: 400px;
}
header .hero {
	position: relative;
	height: 550px;
	margin-top: 20px;
	text-align: center;
	text-shadow: 0 0 7px #000;
}
header .hero .logo {
	font-size: 24px;
	vertical-align: middle;
}
header .hero .logo img {
	vertical-align: text-bottom;
}
header .hero h1 {
	font-size: 45px;
	margin-top: 55px;
}
header .call-to-action {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}
header .cta-btn {
	display: inline-block;
	margin-top: 15px;
	padding: 15px 30px;
	font-weight: bold;
	text-shadow: 0 0 5px #333;
	text-transform: uppercase;
	color: #fff;
	background: #ACE3AC;
	border-radius: 10px;
	box-shadow: 0 0 15px #333;
}
nav {
	position: absolute;
	top: 12px;
	width: 100%;
	height: 38px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	text-align: right;
}
nav a {
	display: inline-block;
	margin-left: 20px;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
}
nav a:hover {
	color: #ACE3AC;
}
nav .home {
	float: left;
}
.home img {
	vertical-align: text-bottom;
	margin-right: 5px;
}
.home {
	margin: 0px;
	font-size: 18px;
	line-height: 20px;
}
.home:hover {
	color: #fff;
}
.profile-picture {
	position: absolute;
	bottom: -80px;
	left: 0;
}
.profile-picture img {
	border-radius: 50%;
	border: 4px solid #f5f5f5;
}
.profile-title {
	position: absolute;
	bottom: 15px;
	left: 240px;
}
.profile-title h1 {
	font-size: 40px;
	text-shadow: 0 0 7px #000;
}
.profile-cta {
	position: absolute;
	bottom: 20px;
	right: 0px;
}
.profile-cta-button {
	display: inline-block;
	margin-left: 15px;
	padding: 10px;
	background: #5ea85a;
	border-radius: 8px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
	opacity: .8;
}
.profile-cta-button:hover {
	opacity: 1;
}
.profile-cta-button .fa {
	margin-right: 4px;
}
.profile-stats {
	position: absolute;
	bottom: -40px;
	left: 225px;
	color: #333;
	font-size: 18px;
}
.profile-stats .fa {
	margin: 0 5px 0 15px;
}

/* Homepage index.html */

.features .col {
	text-align: center;
	margin-bottom: 40px;
}
.features .fa {
	font-size: 100px;
	color: #ACE3AC;
}
.features h1 {
	margin: 10px 0 0;
	font-size: 55px;
}
.features h2 {
	font-size: 20px;
	margin: 0 0 20px;
}
.features p {
	padding: 0 10px;
	line-height: 150%;
}

/* Profile page demo.html */

.stream {
	padding-top: 50px;
}
.stream h1 {
	margin-bottom: 15px;
}
.stream .video-wrapper {
	position: relative;
	width: 100%;
	background: #000;
	border-radius: 8px;
	line-height: 0;
	text-align: center;
}
.stream	iframe, .stream object, .stream embed {
	background: #000;
	width: 720px;
	height: 480px;
}
.gallery {
	margin-top: 50px;
}
.gallery h1 {
	margin-bottom: 15px;
}
.gallery .thumbnail {
	display: block;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 8px;
}
.gallery .large.thumbnail {
	width: 460px;
	height: 415px;
	margin-right: 15px;
}
.gallery .small.thumbnail {
	width: 295px;
	height: 200px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.feed {
	margin-top: 35px;
}
.feed .container {
	margin-top: 15px;
	position: relative;
}
.feed img {
	float: left;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	box-shadow: 0 0 5px 0 #aaa;
}
.feed .comment {
	float: left;
	position: relative;
	max-width: 595px;
	margin-left: 15px;
	padding: 15px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 7px 0 #e5e5e5;
	line-height: 145%;
}
.feed .comment:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: -15px;
	width: 0; 
	height: 0; 
	border-style: solid;
	border-width: 0 20px 15px 0;
	border-color: transparent #fff transparent transparent;
}
.verified {
	position: absolute;
	top: 80px;
	left: 0;
	width: 75px;
	color: #2F9D8B;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}
.highlights {
	margin-top: 35px;
}
.highlight {
	margin-top: 15px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 7px 0 #e5e5e5;
}
.calendar {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	color: #333;
	text-align: center;
	margin: 10px;
}
.calendar .month {
	height: 30px;
	background: #ACE3AC;
	border-radius: 10px 10px 0 0;
	line-height: 30px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
}
.calendar .date {
	height: 50px;
	background: #fff;
	border: 2px solid #efefef;
	border-top-width: 0;
	font-size: 30px;
	font-weight: 900;
	line-height: 48px;
}
.event {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	max-width: 215px;
	max-width: calc(100% - 130px);
}
.event h2 {
	font-size: 20px;
	margin-bottom: 2px;
}
.chart {
	margin-top: 50px;
}
.chart h1 {
	margin-bottom: 15px;
}
.chart form {
	margin-top: 30px;
	text-align: center;
}
.map {
	margin-top: 50px;
}
.map h1 {
	margin-bottom: 15px;
}
.map form {
	margin-top: 30px;
	text-align: center;
}
footer {
	margin-top: 90px;
	padding: 30px 0 30px;
	background: #333;
	color: #fff;
	line-height: 150%;
}
footer a {
	color: #ACE3AC;
}
footer .social {
	text-align: center;
}
footer .social .fa {
	margin: 0 5px;
	font-size: 20px;
}
footer form {
	margin: 5px 0 20px;
}
footer input[type=email] {
	width: 150px;
	padding: 8px;
	border-radius: 5px;
	font-size: 14px;
}
footer input[type=submit] {
	padding: 8px 10px;
	background: #ACE3AC;
	border-radius: 5px;
	font-size: 16px;
}
footer .copyright {
	text-align: right;
	color: #999;
}
footer .copyright a {
	opacity: .5;
}
footer .copyright a:hover {
	opacity: 1;
}

#chart_div {
	width: 100%;
	max-width: 1080px;
	height: 500px;
}
#map_div {
	width: 100%;
	max-width: 810px;
	height: 500px;
}

@media screen and (max-width : 1199px) {
	.container {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
	}
	.profile-cta {
		top: 70px;
	}
	.video-wrapper {
		padding-bottom: 56.25%; /* Assumes a 16:9 ratio */
		height: 0;
	}
	.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.gallery .large.thumbnail, .gallery .small.thumbnail {
		max-width: 100%;
		width: 100%;
		margin-bottom: 15px;
		height: 350px;
	}
	.feed .comment {
		width: 70%;
		width: calc(100% - 120px);
	}
	.feed textarea {
		width: 70%;
		width: calc(100% - 124px);
	}
	.col, .col.single {
		max-width: 100%;
		width: 100%;
	}
	.col:before, .col:after {
		content: "";
		display: table;
	}
	.col:after {
		clear: both;
	}
	#chart_div, #map_div {
		height: auto;
		max-height: 500px;
	}
	footer .sitemap {
		display: none;
	}
	footer .copyright {
		text-align: center;
	}
}
@media screen and (max-width : 600px) {
	.profile-picture {
		left: 50%;
		margin-left: -100px;
	}
	.profile-title {
		width: 100%;
		top: 70px;
		left: 0;
		text-align: center;
	}
	.profile-cta, .profile-stats {
		display: none;
	}
	header .hero h1 {
		font-size: 30px;
	}
	header .hero input[type=email], footer input[type=email] {
		width: 70%;
		width: calc(100% - 80px);
	}
@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}
@-ms-viewport {
	width: extend-to-zoom;
	zoom: 1.0;
}